<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="text-center">{{title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
			<p><strong>User stories:</strong></p>
			<ol>
				<li> I can submit a FormData object that includes a file upload.</li>
				<li> When I submit something, I will receive the file size in bytes within the JSON response</li>
			</ol>

			<h3>Usage:</h3>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
					<form method="POST", action='/', enctype="multipart/form-data">
						<label type="button" class="btn btn-primary"> Choose File <input type="file" name="file" id="fileInput" style="display: none;"></input></label> 
						<input type="submit" class="btn btn-primary" value="Submit File"></input>
						<br/><label id="importedFile"></file>
					</form>
				</div>
			</div>
			<h3>Output:</h3>
			<p>{{output}}</p>
		</div>
	</div>
</div>
